h1
{
color:violet;
text-align:center;
}

body
{
background-image:url(https://th.bing.com/th/id/OIP.RIizMyU_82MpN3C_C4KKOAHaFo?w=242&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7);
background-repeat:no-repeat;
background-size:cover;
}